body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* #card {
    transform-style: preserve-3d;
    transform: 
        perspective(1000px)
        rotateX(0deg)
        rotateY(20deg)
        rotateZ(0deg)
    
} */

/* #card img {
    transform: 
    perspective(1000px)
    rotateX(0deg)
    rotateY(20deg)
    rotateZ(0deg)
    
} */
